
@media screen and (max-width:767px) {
    body {
        width: auto;
    
    }
    .content { 
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .content-news {
      width: 500px;
      margin-bottom: 20px;
      
     
    }
  
}


:root {
  --primary-font-familly: "Roboto", sans-serif;
  --font-size: 16px;
  --spacing: 30px;
  --primary-bg-color: rgb(33, 223, 74);
}
a {
  text-decoration: none;
  color: black;
}

header {
  position: relative;
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
  margin-bottom: var(--spacing);
}
.logo {
  width: 70px;
}
.logo img {
  max-width: 100%;
}
.btn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid black;
  padding: 10px  ;
  border-radius: 2px ;
}

.barre {
  
  width: 30px;
  height: 3px;
  border-radius: 5px;
  transition: 0.3s;
  background-color: black;
}
.barre:hover{
  background-color: rgb(33, 223, 74);
}

.mobile {
  position: absolute;
  display: none;
  margin-top: 10px;
  top: 100px;
  right: 0px;
  height: 300px;
  background-color: rgb(33, 223, 74);
}
.active {
  display: block;
}

.mobile ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
}

.desktop {
  display: none;
}

.desktop ul {
  display: flex;
  gap: var(--spacing);
}


.content{
    display: flex;
    justify-content: center;
  max-width: 80%;
  margin:0 auto;
  margin-bottom: 30px;

}

.contentmixte{
    display: flex;
flex-direction: column;
 align-items: center;
 gap: 2px;
margin-left: 20px ;
margin-top: 5px;
width: 100%;

}

.content-news{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    border: 1px solid black;
    margin-top: 5px;
    width: 50%;
    /* height: 0%; */
    border-radius: 1rem ;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.405);
   
   
}

p{
  text-align: center;
}

/* h1,h2,p {
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
} */
.content-photo{
    
    padding: 0px;
    width: 100%;
    height: 100%;
}
.content-photo1{
    width: 100%;
    height: 100%;
}
.content-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 auto;
}


.button1 {
  background-color: rgb(49, 201, 49);
  border: none;
  color: white;
  padding: 15px;
  text-decoration: none;
  border-radius: 1rem;
  margin: 0px;
  cursor: pointer; 
}


.featurestotal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
  }
  .features {
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  
  .feature-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .feature-box {
    background-color: white;
    width: 300px;
    height: 450px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.688);
  
  }
  .f-img {
    width: 220px;
    height: 75%;
    margin: 20px;
    border-radius: 5px;
  }
  
  .f-text {
    width: 100%;
    height: 1%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .button {
    background-color: rgb(49, 201, 49);
    border: none;
    color: white;
    padding: 6px;
    text-decoration: none;
    border-radius: 1rem;
    cursor: pointer;
  }

  h4 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

section#contact {
  background-color: white;
  padding: 10px 0;
  width: 80%;
  margin: 0 auto;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.489);
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}

section#contact .container {
  max-width: 1100px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

section#contact .container .title3 {
  font-size: 1.5em;
  text-align: center;
}
section#contact .container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
}
section#contact .container form input:hover {
  border-bottom: 2px solid green;
}
section#contact .container form input, section#contact .container form textarea {
  width: 47%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border-bottom: 2px solide gray;
  transition: 0.2s;
}
section#contact .container form textarea{
  width: 100%;
}
section#contact .container form button{
  background-color: rgb(49, 201, 49);
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 10px;

}


.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(32, 231, 32, 0.595);
  height: 100px;
}
.footer {
  list-style: none;
}
@media screen and (min-width:767px){
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .btn {
    display:none;
  }

}